.swiperProjects {
    position: relative;
    margin-top: 4rem;
}

@media screen and (width > 1200px) {
    .swiperProjects {
        margin-top: 8rem; 
    }
    .swiper {
        max-width: 104rem;
    }
}

@media screen and (width > 1400px) {
    .swiper {
        max-width: 120rem;
    }
}