.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 62px auto 0;
    padding: 4rem 2rem 6rem;
    color: var(--body-color);
    background-color: var(--body-background);
}
.hero img {
    width: min(12rem, 100%);
    margin-bottom: 1rem;
}
.hero h1, h2 {
    font-weight: 400;
}
.hero h1 {
    color: var(--detail-3);
}
.hero h1 strong {
    color: var(--body-color);
}
.hero h2 {
    margin-top: .5rem;    
    color: var(--detail-3);
}
.hero p {
    font-size: 1.6rem;
    margin: 1rem auto 1.5rem;
    width: min(35rem, 100%);
    line-height: 2.4rem;
}
.hero a {
    background-color: var(--detail);
    padding: .5rem 1.6rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid var(--detail-2);
    gap: .5rem;
    font-weight: 500;
    margin: auto;
    font-size: 1.6rem;
    color: var(--body-color);
    display: flex;
    align-items: center;
    width: 12rem;
}

@media screen and (width > 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        margin: 65px auto 0;
    }
    .hero img {
        order: 1;
        width: 24rem;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
    .hero p {
        width: min(75rem, 100%);
        margin: 2rem 0rem;
    }
    .hero a {
        margin: unset;
    }
}

@media screen and (width > 1200px) {
    .hero {
        margin-top: unset;
        height: 100vh;
        padding: 0 2rem;
    }
    .hero img {
        width: 34rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
    .hero h2 {
        font-size: 2.4rem;
    }
}