.swiperSkills {
    margin-top: 4rem;
}

.skillItem {
    border: .3rem solid #000;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.skillItem img {
    max-height: 4rem;
}
.skillItem h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
}
.skillItem p {
    font-size: 1.2rem;
}

@media screen and (width > 1200px) {
    .swiperSkills {
        margin-top: 8rem; 
    }
    .skillItem {
        padding: 3rem;
    }
    .skillItem img {
        max-height: 6rem;
    }
    .skillItem h3 {
        font-size: 1.6rem;
    }
    .skillItem p {
        font-size: 1.4rem;
    }
}