.experience__wrapper {
    gap: 2rem;
    margin: 4rem 0;
    color: var(--body-color);
}

.experience__container {
    border: .3rem solid var(--body-color);
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
    width: min(525px, 100%);
}
.experience__container h3{
    font-size: 2rem;
}

.experience__itens {
    margin-top: 2rem;
    gap: 1.5rem;
}

.experience__item h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.experience__item small {
    font-size: 1.2rem;
    font-weight: 600;
}
.experience__item p {
    font-size: 1.4rem;
    margin-top: .5rem;
}

.experienceText {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--body-color);
    margin: 0;
}

@media screen and (width > 768px) {
    .experience__container {
        height: 24rem;
    }
    .experience__itens {
        height: calc(24rem - 9rem);
    }
}

@media screen and (width > 1200px) {
    .experience__wrapper {
        margin: 8rem 0 4rem;
        gap: 6rem;
    }
    .experience__container {
        width: min(45rem, 100%);
    }
}