:root {
    --body-background: #fff;
    --body-color: #000;
    --detail: #fff;
    --detail-2: #000;
    --bg-footer: #000;
}

[data-theme="dark"] {
    --body-background: #000;
    --body-color: #fff;
    --detail: #242526;
    --detail-2: #7b7b7b;
    --bg-footer: #242526;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*transition: all .3s ease-in-out;*/
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background) !important;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0 !important;
}

.bgColor {
    background-color: var(--body-background);
    padding-bottom: 4rem;
}

@media screen and (width > 992px) {
    .bgColor {
        padding-bottom: 8rem;
    }
}

.sectionTitle {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--body-color);
}

@media screen and (width > 768px) {
    .sectionTitle {
        text-align: start;
        font-size: 2.6rem;
        font-weight: 500;
    }
    .sectionTitle::after {
        content: '';
        display: inline-block;
        width: 30rem;
        height: .3rem;
        background-color: var(--body-color);;
        margin-left: .5rem;
    }
}

.swiper-wrapper {
    width: 70% !important;
}

.customPrev, .customNext {
    position: absolute;
    margin-top: 20rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    color: var(--detail-2);
}

.customNext {
    right: 0;
}

@media (width > 1200px) {
    .customPrev, .customNext {
        display: block;
    }
}


/*Contact*/
#contact {
    color: var(--body-color);
}

.contactTitle {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (width > 768px) {
    .contactTitle {
        font-size: 2.6rem;
        font-weight: 500;
    }
}

.contactText {
    font-size: 1.8rem;
    max-width: 50rem;
    margin: 3rem auto;   
    line-height: 1.6;
}

.contactLinks {
    gap: 3rem;
}
.contactLinks a {
    color: #000;
}

.contactIcon {
    width: 3.5rem;
    height: 3.5rem;
    color: var(--detail-2);
}

/*Footer*/
footer {
    text-align: center;
    background-color: var(--bg-footer);
    color: #fff;
    padding: 3rem 2rem;
}
footer p {
    margin-bottom: 0;
}