* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0 !important;
}

.container {
    margin-bottom: 4rem;
}

.sectionTitle {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

@media screen and (width > 768px) {
    .sectionTitle {
        text-align: start;
        font-size: 2.6rem;
        font-weight: 500;
    }
    .sectionTitle::after {
        content: '';
        display: inline-block;
        width: 30rem;
        height: .3rem;
        background-color: #000;
        margin-left: .5rem;
    }
}

.swiper-wrapper {
    width: 70% !important;
}

.customPrev, .customNext {
    position: absolute;
    margin-top: 20rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.customNext {
    right: 0;
}

@media (width > 1200px) {
    .customPrev, .customNext {
        display: block;
    }
    .container {
        margin-bottom: 8rem;
    }
}


/*Contact*/
.contactTitle {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (width > 768px) {
    .contactTitle {
        font-size: 2.6rem;
        font-weight: 500;
    }
}

.contactText {
    font-size: 1.8rem;
    max-width: 50rem;
    margin: 3rem auto;   
    line-height: 1.6;
}

.contactLinks {
    gap: 3rem;
}
.contactLinks a {
    color: #000;
}

.contactIcon {
    width: 3.5rem;
    height: 3.5rem;
}

/*Footer*/
footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 3rem 2rem;
}
footer p {
    margin-bottom: 0;
}